@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
    text-decoration: none;
    list-style-type: none;
    
}

a{
    color: black;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to bottom, rgb(0, 0, 0), white);
    color: white;
    text-align: center;
}

form h2{
    color: rgb(180, 0, 0);
}

form input{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    padding: 5px;
}

form button{
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, red, darkred);
    color: white;
    font-weight: bold;
    cursor: pointer;
}